@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: white;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: #2f4858;
  font-family: "Monoton";
  font-size: 3rem;
  word-spacing: 15px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -5px;
  padding: 2.4rem 2rem;
}

/* Small */
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    word-spacing: 15px;
  }
}
/* Medium */
@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
    word-spacing: 20px;
  }
}
/* Large */
@media (min-width: 1200px) {
  h1 {
    font-size: 6rem;
    word-spacing: 30px;
  }
}

.add-form {
  background-color: #356070;
  padding: 2.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  font-size: 2.4rem;
}

@media (max-width: 767px) {
  .add-form {
    flex-direction: column;
    gap: 2.5rem;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
}

button,
select,
input {
  background-color: #ffebb3;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  select,
  input {
    width: 100%;
  }
  .add-form button {
    width: 100%;
  }
}

.add-form button {
  text-transform: uppercase;
  background-color: #5aada4;
}

.list {
  background-color: #3c7985;
  color: #ffebb3;
  padding: 4rem 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.list ul {
  list-style: none;
  width: 90%;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

@media (max-width: 767px) {
  .list ul {
    width: 100%;
  }
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border: 1px solid #ccc;
  background-color: #eee;
  color: black;
  border-radius: 7px;
  padding: 0.5rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.list li .itemName {
  word-break: break-all;
  flex: 1;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  transform: translateY(2px);
  padding: 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.actions button,
.actions select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .actions {
    flex-direction: column;
    gap: 1rem;
  }
  .actions button {
    width: 100%;
  }
}

.stats {
  background-color: #479396;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 2rem;
}
